extends doubleColumn

append scripts
	script(src="js/editor.js", type="text/javascript")

block content
	h3 База знаний
	.knowledge-base
		.knowledge-base_no-items

block sidebar
	h3 Лингвистические переменные

	#js-variables.variables
		ul#js-variables-list.variables-list.unstyled(style="display: none;")
			li#js-variables-list_fake-item.js-variables-list_item.variables-list_item
				.js-variables-list_item-inner.variables-list_item-inner
					.js-variables-list_name.variables-list_name.label
					.js-variables-list_value.variables-list_value
					button.js-variables-list_edit-btn.variables-list_edit-btn.btn.btn-mini.btn-success(type="button", title="Редактировать")
						i.icon-pencil.icon-white
					button.js-variables-list_remove-btn.variables-list_remove-btn.btn.btn-mini.btn-danger(type="button", title="Удалить")
						i.icon-trash.icon-white

				.js-variables-list_terms.variables-list_terms
					ul.js-terms-list.terms-list.unstyled(style="display: none;")
						li#js-terms-list_fake-item.js-terms-list_item.terms-list_item
							.js-terms-list_item-inner.terms-list_item-inner
								.js-terms-list_name.terms-list_name.badge.badge-info
								.js-terms-list_value-b.terms-list_value-b
								.js-terms-list_value-c.terms-list_value-c
								button.js-terms-list_edit-btn.terms-list_edit-btn.btn.btn-mini.btn-success(type="button", title="Редактировать")
									i.icon-pencil.icon-white
								button.js-terms-list_remove-btn.terms-list_remove-btn.btn.btn-mini.btn-danger(type="button", title="Удалить")
									i.icon-trash.icon-white

					.js-variables-list_terms-add.variables-list_terms-add
						button.js-variables-list_terms-add-btn.variables-list_terms-add-btn.btn.btn-mini(type="button")
							i.icon-plus
							|  Добавить терм

		#js-variables_add.variables_add
			button#js-variables-list_terms-add-btn.variables-list_terms-add-btn.btn.btn-mini(type="button")
				i.icon-plus
				|  Добавить переменную

		#js-variables-form.variables-form.form-inline(style="display: none;")
			input#js-variables-form_name.variables-form_name.input-large(type="text", placeholder="Имя переменной")
			input#js-variables-form_value.variables-form_value.input-small(type="text", placeholder="Значение")
			button#js-variables-form_btn.variables-form_btn.btn(type="button")
				i.icon-ok
				|  OK

		#js-terms-form.terms-form.form-inline(style="display: none;")
			input#js-terms-form_name.terms-form_name.span2(type="text", placeholder="Имя терма")
			input#js-terms-form_name.terms-form_value-b.span1(type="text", placeholder="b")
			input#js-terms-form_name.terms-form_value-c.span1(type="text", placeholder="c")
			button#js-terms-form_btn.terms-form_btn.btn(type="button")
				i.icon-ok
				|  OK